//location
.location2{
    // position: absolute;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    background-image: url(/img/spain2.jpg);
    background-color: #674154;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    // margin-top: 50px;

    &__spain{
       display: inline-block;
       width:500px;
       height: 250px;
        // position: relative;
        // top: 159px;
        // left: 0%;
        background-image: url(/img/bggrey.png);
        // margin: 0 600px 350px 294px;   
        color:$color-white;
        
        h2{
            font-family: $font-Josefin;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        }
        h3{
            font-family: $font-Josefin;
            font-size: 20px;
            font-weight: 400;
            text-align: left;
            text-transform: uppercase;
        }
        p{
        font-family: $font-Josefin;
        font-size: 16px;
        font-weight: 100;
        text-align: left;
        }
    }
}
// .choose_btn{
//     // display: inline-block;
//     // margin: 50px 50px;
// }
