//menu
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 35px 0;
    background-color: #5474fd;
    
    

    &__logo{
        font-family: $font-Josefin;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color:$color-white;
    }
    
    
    
    &__elements li {

        display: inline-block;
        list-style-type:none;
        text-transform: uppercase;
    }
    &__elements li:not(:last-child) {
        margin-right: 43px;
        
    }
    &__elements a{
        color:$color-white;
    }
}
